@using Microsoft.AspNetCore.Identity
@using BookShopTest.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            
            <a class="nav-link" asp-action="UserSettings" asp-controller="Home">
                @User.Identity.Name
            </a>
        </li>
        <li class="nav-item">
            <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="d-inline">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
</ul>
