

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
:root {
    --primary-color: #f39c12;
    --secondary-color: #FF5722; /* Orange */
    --background-color: #F5F5F5; /* Light grey */
    --text-color: #333; /* Dark grey */
    --card-background: #FFFFFF; /* White */
    --card-shadow: rgba(0, 0, 0, 0.1);
    --navbar-color: navy;
}
body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 100px;
}
.navbar {
    background-color: #34495e !important; /* Ensure it overrides other styles */
    font-size: 18px; /* Adjust the size as needed */
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white !important;
}

    .nav-link:hover {
        color: black !important;
    }
.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}
.card {
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}
body {
    font-family: 'Roboto', sans-serif;
}
.button {
    transition: background-color 0.3s ease;
}
.button:hover {
        background-color: var(--secondary-color);
    }
.card::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--primary-color);
}
.wide-photo {
    width: 100%;
    margin-top: -18px; /* Adjust this value based on the height of your navbar */
}

    .wide-photo img {
        width: 100%;
        height: 300px;
    }
